/* .tds-bets {}
*/

.tds-bets__list {
  padding: 1rem;
  position: relative;
}

.tds-bets__title {
  margin-bottom: 0.2rem;
}
.tds-bets__thead {
  border-bottom: solid 2px #222;
  font-weight: bold;
  font-size: 1rem;
}
.tds-bets__table {
  width: 100%;
  border-collapse: collapse;
  overflow-y: auto;
}

.tds-bets__table__row:nth-child(even) {
  background: #ebf4ce;
}

.tds-bets__table__row td {
  padding: 0.4rem;
}
.tds-bets__thead td {
  padding: 0 0.4rem;
}

.tds-bets__table__deadline {
  width: 12rem;
}
.tds-bets__table__judge {
  width: 12rem;
}
.tds-bets__table__expand {
  width: 1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
}

.tds-bets__table__party-name {
  font-weight: bold;
}

.tds-bets__table__row--sub {
  background: rgba(0, 0, 0, 0.07);
}
