.tds-login__input,
.tds-login__button {
  margin: 0.5rem 1rem 0 0;
}

.tds-login .label {
  width: 4rem;
  display: block;
}

.tds-login__button {
  margin-right: 0;
}

.tds-login__error {
  color: #c33;
}
