.tds-header {
  background-color: #232;
  padding: 0.5rem;
  color: white;
  display: flex;
}

.tds-header__logo {
  animation: Logo-zoom 0.5s ease-in;
  height: 2.7rem;
  z-index: 1;
}

.tds-header__title {
  font-size: 1.5rem;
  margin: 0.2rem 0.5rem 0;
  line-height: 2.7rem;
}

.tds-header__controls {
  flex: 1;
}

.tds-header__intro {
  font-size: large;
}

@keyframes Logo-zoom {
  from {
    transform: translate3d(20rem, 20rem, 0) scale3d(20, 20, 1);
  }
  to {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}
