.main-contents {
  display: flex;
  flex-direction: column;
}

.main-contents .open-bets,
.main-contents .completed-bets {
  flex: 1;
}

.main-contents__stats {
  display: flex;
  flex-direction: row;
}
