.tds-wins-tile {
  padding: 1rem;
  flex: 1;
  position: relative;
  overflow: hidden;
  background: #d9e8a6;
}

.tds-wins-tile:nth-child(odd) {
  background: #c8e07c;
}

.tds-wins-tile__title {
  margin-top: 0;
  position: relative;
}

.tds-wins-tile__contents {
  position: relative;
  text-transform: capitalize;
  font-size: 1.5rem;
  margin: 0.12rem;
}

.tds-wins-tile__icon {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  left: 50%;
}

.tds-wins-tile__score {
  font-size: 2.5rem;
  margin: 0;
}
