.react-autosuggest__suggestions-container {
  position: absolute;
  background: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.react-autosuggest__suggestions-list {
  list-style-type: none;
  padding-inline-start: 0.25rem;
}

.react-autosuggest__suggestion {
  padding: 0.25rem 1rem;
  cursor: pointer;
}
.react-autosuggest__suggestion--highlighted {
  background: #bada55;
}
